<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/index.css"/>
  </head>
<body>
  <h3>The current most popular {{ n }} photos on 500px!</h3>

  {% for photo in photos %}
  <div class="photo_card">
    <div class="author">{{ photo.name }}</div>
    <img class="thumbnail" src="{{ photo['image_url'][0] }}">
    <div>By: {{ photo.user.username }}</div>
  </div>
  {% endfor %}

  <div class="pager">
    {% if prev_link %}
      <a class='pager-prev' href="{{ prev_link }}">&lt;-</a>
    {% else %}
      <a class='pager-prev disabled'>&lt;-</a>
    {% endif %}

    <span class='page_number'>{{ page }} / {{ pages }}</span>

    {% if next_link %}
      <a class='pager-next' href="{{ next_link }}">-&gt;</a>
    {% else %}
      <a class='pager-next disabled'>-&gt;</a>
    {% endif %}
  </div>

</body>
</html>
