<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/index.css"/>
  </head>
<body>
  {% if page == 1 %}
  <h3>The current most popular {{ n }} photos on 500px</h3>
  {% else %}
  <h3>Page {{ page }} of 500px's most popular Photos</h3>
  {% endif %}

  {% for photo in photos %}
  <div class="photo_card">
    <div class="author">{{ photo.name }}</div>
    <a class='details_link' href="/{{ photo.id }}">
      <img class="thumbnail" src="{{ photo['images'][0]['https_url'] }}"/>
    </a>
    <div>By: {{ photo.user.username }}</div>
  </div>
  {% endfor %}

  <div class="pager">
    {% if prev_link %}
      <a class='pager-prev' href="{{ prev_link }}">&lt;-</a>
    {% else %}
      <a class='pager-prev disabled'>&lt;-</a>
    {% endif %}

    <span class='page_number'>{{ page }} / {{ pages }}</span>

    {% if next_link %}
      <a class='pager-next' href="{{ next_link }}">-&gt;</a>
    {% else %}
      <a class='pager-next disabled'>-&gt;</a>
    {% endif %}
  </div>

</body>
</html>
